* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 400px;
    margin: 24px auto;
    
}

.light-container {
    background-color: lightgrey;
    padding: 48px 0px;

}

.dark-container {
    background-color: darkgrey;
    padding: 48px 0px;
}