* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

div {
    background-color: grey;
    border: 10px solid red;
    color: white;
    padding: 24px;
    margin: 24px;
}

#header {
    color: red;
}

.center-column {
    max-width: 500px;
    margin: 24px auto;
}