/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Bulletin Board assignment.

    Good luck, and have fun!
*/

    .post-it {
    background-color: grey;
    width: 200px;
    height: 150px
    }

    .red {
        background-color: red;
        width: 200px;
        height: 150px;
    }