* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#navbar {
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

#navbar a {
    text-decoration: none;
    color: green;
    padding: 24px;
}

.background {
    background-color: green;
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    

}